/* ===== BODY ===== */

body{

font-family:Arial;

margin:0;

background:#f2f2f2;

}


/* ===== NAVBAR ===== */

nav{

background:black;

color:white;

padding:15px;

display:flex;

justify-content:space-between;

align-items:center;

}

nav a{

color:white;

margin-left:15px;

text-decoration:none;

font-weight:bold;

}

nav a:hover{

color:orange;

}


/* ===== HERO SECTION ===== */

.hero{

background:#232f3e;

color:white;

padding:60px;

text-align:center;

}

.hero h1{

font-size:32px;

margin-bottom:10px;

}

.hero button{

padding:12px 25px;

background:orange;

border:none;

font-size:18px;

border-radius:6px;

cursor:pointer;

}

.hero button:hover{

background:#ff9900;

}


/* ===== PRODUCTS GRID ===== */

.products{

padding:20px;

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(200px,1fr));

gap:15px;

}

.card{

background:white;

padding:15px;

border-radius:10px;

text-align:center;

box-shadow:

0px 0px 8px rgba(0,0,0,0.2);

transition:.3s;

}

.card:hover{

transform:translateY(-5px);

}

img{

width:100%;

border-radius:10px;

}


/* ===== FEATURES ===== */

.features{

background:white;

padding:40px;

text-align:center;

}

.feature-box{

display:flex;

flex-wrap:wrap;

gap:20px;

justify-content:center;

}

.feature{

background:#f9f9f9;

padding:20px;

border-radius:10px;

width:250px;

box-shadow:0 0 8px #ccc;

transition:.3s;

}

.feature:hover{

transform:scale(1.05);

}


/* ===== CATEGORY ===== */

.categories{

padding:40px;

text-align:center;

}

.category-box{

display:flex;

flex-wrap:wrap;

gap:20px;

justify-content:center;

}

.cat{

background:white;

padding:20px;

width:220px;

border-radius:10px;

box-shadow:0 0 8px #ccc;

transition:.3s;

}

.cat:hover{

transform:scale(1.05);

}


/* ===== BUTTONS ===== */

a{

display:inline-block;

margin-top:10px;

text-decoration:none;

background:black;

color:white;

padding:8px 15px;

border-radius:5px;

}

a:hover{

background:orange;

}


/* ===== FOOTER ===== */

footer{

background:black;

color:white;

text-align:center;

padding:30px;

margin-top:30px;

}
